# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
.venv/
venv/
ENV/
env/

# Environment Variables
.env
.env.local

# IDEs
.idea/
.vscode/
*.swp
*.swo

# SQLite DB (if used for local testing)
*.db
*.sqlite3

# Alembic
migrations/versions/*.pyc
